<h1 mat-dialog-title>Редактирование</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 300px" appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput type="email" placeholder="Введите название" [(ngModel)]="track.title">
    </mat-form-field>
    <mat-form-field style="width: 300px" appearance="outline">
        <mat-label>Испольнитель</mat-label>
        <input matInput type="email" placeholder="Введите исполнителя" [(ngModel)]="track.artist">
    </mat-form-field>
    <mat-form-field style="width: 300px" appearance="outline">
        <mat-label>Альбом</mat-label>
        <input matInput type="email" placeholder="Введите название альбома" [(ngModel)]="track.album">
    </mat-form-field>
    <mat-form-field style="width: 300px" appearance="outline">
        <mat-label>Год</mat-label>
        <input matInput type="email" placeholder="Введите год" [(ngModel)]="track.year">
    </mat-form-field>
    <span *ngIf="!isValid" style="color: red">Нельзя сохранить пустое поле!</span>
    <button mat-raised-button color="accent">Дополнительные настройки</button>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onYesClick()" cdkFocusInitial>Сохранить</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Отмена</button>
</div>
