.home-container {
    height: calc(100vh - 64px);
}

.home-right-container {
}

.home-left-container {
    width: 30%;
}

.home-list-item-container {
    display: flex;
    width: 100%;
}
.home-track-item {
    width: 65%;
}

.home-control-item {
    width: 35%;
    margin-top: 3%;
}

.home-track-title {
    margin-top: -2%;
}

.home-item {
    margin-left: 5px;
    cursor: pointer;
}

.home-rate {
    width: 120px;
}
