<div class="users">
  <div class="users__filter">
    <mat-accordion>
      <mat-expansion-panel [expanded]="!shared.isMobile()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Фильтры
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field class="user-filter-text-input" appearance="outline">
            <mat-label>Имя</mat-label>
            <input matInput placeholder="Введите имя пользователя" [(ngModel)]="firstName" (keyup.enter)="findUsers()">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="user-filter-text-input" appearance="outline">
            <mat-label>Фамилия</mat-label>
            <input matInput placeholder="Введите фамилию пользователя" [(ngModel)]="lastName" (keyup.enter)="findUsers()">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="user-filter-text-input" appearance="outline">
            <mat-label>Никнейм</mat-label>
            <input matInput placeholder="Введите никнейм пользователя" [(ngModel)]="nickName" (keyup.enter)="findUsers()">
          </mat-form-field>
        </div>
        <div class="filter-buttons">
          <button class="user-filter-search-button" mat-raised-button color="primary" (click)="findUsers()">Поиск</button>
          <button class="user-filter-search-button" mat-raised-button color="warn" (click)="clearFilters()">Сброс фильтров</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="users__content">
    <mat-list>
      <mat-paginator [length]="usersLength"
                     [pageIndex]="page"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = loadUserList($event)">
      </mat-paginator>
      <mat-list-item *ngFor="let user of users">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>{{showUserInfo(user)}}
          <mat-icon class="go-to-profile" (click)="gotoProfile(user.id)" mat-list-icon>arrow_forward_ios</mat-icon>
        </h4>
        <p mat-line *ngIf="user.userDetails.firstName !== null || user.userDetails.lastName !== null"> {{user.userDetails.nick}} </p>
      </mat-list-item>
    </mat-list>
    <span *ngIf="users.length === 0">Пользватели не найдены</span>
  </div>
</div>
