.user-container {
    height: calc(100vh - 64px);
}

.users {
 }

.users__filter {
    background-color: #fff;
}

.users__content {
    background-color: #fafafa;
}

.filter-buttons {
    display: flex;
    justify-content: center;
}

.go-to-profile {
    position: absolute;
    margin-left: 10px;
}

@media screen and (min-width: 481px) {
    .users {
        display: flex;
        min-height: calc(100vh - 64px);
    }

    .users__filter {
        border-right: solid 1px rgba(0,0,0,.12);
        width: 30%;
    }

    .users__content {
        width: 70%;
    }

    .go-to-profile {
        position: absolute;
        margin-left: 10px;
        cursor: pointer;
    }
}

.user-filter-text-input {
    margin: 10px;
    width: 95%;
}

.user-filter-search-button {
    margin: 10px;
}

.user-filter-label {
    margin: 10px;
}

.header-label {
    position: absolute;
    margin-top: 5px;
}
