<mat-sidenav-container class="user-container">
  <mat-sidenav mode="side" class="left-container" opened>
    <p class="user-filter-label">Фильтры</p>
    <div>
      <mat-form-field class="user-filter-text-input" appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Введите имя пользователя">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="user-filter-text-input" appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input matInput placeholder="Введите фамилию пользователя">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="user-filter-text-input" appearance="outline">
        <mat-label>Никнейм</mat-label>
        <input matInput placeholder="Введите никнейм пользователя">
      </mat-form-field>
    </div>
    <div>
      <button class="user-filter-search-button" mat-raised-button color="primary">Поиск</button>
      <button class="user-filter-search-button" mat-raised-button color="warn">Сброс фильтров</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="right-container">
    <h3 mat-subheader class="header-label">Пользователи</h3>
    <mat-list>
      <mat-paginator [length]="usersLength"
                     [pageIndex]="page"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = loadUserList($event)">
      </mat-paginator>
      <mat-list-item *ngFor="let user of users">
        <mat-icon mat-list-icon>accessibility</mat-icon>
        <h4 mat-line>{{user.userDetails.firstName + " " + user.userDetails.lastName}}
          <button class="go-to-profile" mat-raised-button color="primary" (click)="gotoProfile(user.id)">Перейти в профиль</button>
        </h4>
        <p mat-line> {{user.userDetails.nick}} </p>
      </mat-list-item>
    </mat-list>
    <span *ngIf="users.length === 0">На данный момент в системе отсутствуют пользователи</span>
  </mat-sidenav-content>
</mat-sidenav-container>
