/target/
!.mvn/wrapper/maven-wrapper.jar

music-cloud-web/src/main/web/dist/
music-cloud-web/src/main/web/node/
music-cloud-web/src/main/web/node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Test data ###
/additional/rcsData/generator/estimateMatrix.csv
/storage-audio/
/storage-photo/
