.music-container {
    height: calc(100vh - 64px);
}

.right-container {

}

.left-container {
    width: 30%;
}

.music-filter-text-input {
    margin: 10px;
    width: 95%;
}

.music-filter-search-button {
    margin: 10px;
}

.music-filter-label {
    margin: 10px;
}

.track-item {
    margin: 10px;
}

.track-item-control {
}

.header-label {
    position: absolute;
    margin-top: 5px;
}

.list-item-container {
    display: flex;
    width: 100%;
}
.track-item {
    width: 65%;
}

.control-item {
    width: 35%;
    margin-top: 3%;
}

.track-title {
    margin-top: -2%;
}

.item {
    margin-left: 5px;
    cursor: pointer;
}

.rate {
    width: 120px;
}

