<div class="music">
    <div class="music__filter">
        <mat-accordion>
            <mat-expansion-panel [expanded]="!shared.isMobile()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Фильтры
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <mat-form-field class="music-filter-text-input" appearance="outline">
                        <mat-label>Название песни</mat-label>
                        <input matInput type="search" placeholder="Введите название песни" [(ngModel)]="title" (keyup.enter)="findTracks()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="music-filter-text-input" appearance="outline">
                        <mat-label>Автор</mat-label>
                        <input matInput type="search" placeholder="Введите интересующего автора или группу" [(ngModel)]="artist" (keyup.enter)="findTracks()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="music-filter-text-input">
                        <mat-label>Жанр</mat-label>
                        <mat-select [(ngModel)]="selectedGenres" multiple>
                            <mat-option *ngFor="let genre of genres" [value]="genre">
                                {{genre.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="music-filter-text-input">
                        <mat-label>Настроение</mat-label>
                        <mat-select [(ngModel)]="selectedMoods" multiple>
                            <mat-option *ngFor="let mood of moods" [value]="mood">
                                {{mood.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-buttons">
                    <button class="music-filter-search-button" mat-raised-button color="primary" (click)="findTracks()">Поиск</button>
                    <button class="music-filter-search-button" mat-raised-button color="warn" (click)="clearFilters()">Сброс фильтров</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="music__player">
        <mat-list>
            <mat-paginator [length]="tracksLength"
                           [pageIndex]="page"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="pageEvent = loadTracksList($event)">
            </mat-paginator>
            <ul *ngFor="let track of tracks" class="track-list">
                <li class="track-item">
                    <audio-player-proxy [isGlobal]="true" [isHome]="false" [isRecommend]="false" [track]="track" [playlist]="tracks"></audio-player-proxy>
                </li>
            </ul>
        </mat-list>
        <span *ngIf="tracks.length === 0">Музыкальные композиции не найдены</span>
    </div>
</div>

