<div class="music">
    <div class="music__filter">
        <mat-accordion>
            <mat-expansion-panel [expanded]="!shared.isMobile()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Фильтры
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <mat-form-field class="music-filter-text-input" appearance="outline">
                        <mat-label>Название песни</mat-label>
                        <input matInput type="search" placeholder="Введите название песни" [(ngModel)]="title" (keyup.enter)="findTracks()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="music-filter-text-input" appearance="outline">
                        <mat-label>Автор</mat-label>
                        <input matInput type="search" placeholder="Введите интересующего автора или группу" [(ngModel)]="artist" (keyup.enter)="findTracks()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="music-filter-text-input">
                        <mat-label>Жанр</mat-label>
                        <mat-select [(ngModel)]="selectedGenres" multiple>
                            <mat-option *ngFor="let genre of genres" [value]="genre">
                                {{genre.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="music-filter-text-input">
                        <mat-label>Настроение</mat-label>
                        <mat-select [(ngModel)]="selectedMoods" multiple>
                            <mat-option *ngFor="let mood of moods" [value]="mood">
                                {{mood.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-buttons">
                    <button class="music-filter-search-button" mat-raised-button color="primary" (click)="findTracks()">Поиск</button>
                    <button class="music-filter-search-button" mat-raised-button color="warn" (click)="clearFilters()">Сброс фильтров</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="music__player">
        <mat-list>
            <mat-paginator [length]="tracksLength"
                           [pageIndex]="page"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="pageEvent = loadTracksList($event)">
            </mat-paginator>
            <ul *ngFor="let track of tracks" class="track-list">
                <li class="track-item">
                    <h4 mat-line>
                        <audio controls *ngFor="let file of track.files | async" class="audio-player">
                            <source src={{file}} type="audio/mpeg">
                            <p>Ваш браузер не поддерживает HTML5 audio. Воспользуйтесь
                                <a href={{file}}>этой ссыклой</a></p>
                        </audio>
                    </h4>
                    <div mat-line class="track-title">
                        <div class="track__info">
                            {{track.title + ", " + track.artist + ", " + track.year}}
                        </div>
                        <div class="track__control">
                            <mat-icon class="item" mat-list-icon (click)="addTrackToUser(track.id)">add_circle_outline
                            </mat-icon>
                            <mat-icon class="item" mat-list-icon (click)="changeTrack(track)">create</mat-icon>
                            <mat-form-field class="item rate">
                                <mat-label>Ваша оценка</mat-label>
                                <mat-select [(ngModel)]="track.tempRating" (selectionChange)="rateTrack(track)">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="6">6</mat-option>
                                    <mat-option value="7">7</mat-option>
                                    <mat-option value="8">8</mat-option>
                                    <mat-option value="9">9</mat-option>
                                    <mat-option value="10">10</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="item">Рейтинг: <b>{{track.rating}}</b></span>
                        </div>
                    </div>
                </li>
            </ul>
        </mat-list>
        <span *ngIf="tracks.length === 0">Музыкальные композиции не найдены</span>
    </div>
</div>

