.music {
 }

.music__filter {
    background-color: #fff;

}

.music__player {
    background-color: #fafafa;
}

@media screen and (min-width: 481px) {
    .music {
        display: flex;
        min-height: calc(100vh - 64px);
    }

    .music__filter {
        border-right: solid 1px rgba(0,0,0,.12);
        width: 30%;
    }

    .music__player {
        width: 70%;
    }
}

.music-filter-text-input {
    margin: 10px;
    width: 95%;
}

.music-filter-search-button {
    margin: 10px;
}

.music-filter-label {
    margin: 10px;
}

.track-item {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
}

.track-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.track__control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-player {
    width: 100%;
}

.item {
    margin-left: 10px;
    cursor: pointer;
}

.rate {
    width: 120px;
}

.track-list {
    padding-left: 5px;
    padding-right: 5px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
}

.change-track-label {
    text-align: center;
}

.change-track-text-field {
    width: 95%;
}

.change-track-buttons {
    display: flex;
    flex-direction: column;
}

.additional-buttons {
    display: flex;
    justify-content: center;
}

.modal-window-buttons {
    display: flex;
    justify-content: center;
}

.modal-window-text-item {
    text-align: center;
}

.modal-window-button {
    margin-top: 5px;
}

@media screen and (min-width: 481px) {
    .track-list {
        padding-left: 5px;
        padding-right: 5px;
    }

    .track-item {
        list-style-type:none;
        margin: 0px 0px 0px 0px;
    }

    .track-title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}

