<mat-toolbar color="primary">
    <img class="app-img" src="../assets/app-icon.ico">
    <span class="app-title">Music cloud</span>
    <div *ngIf="shared.isLogin" class="header-control-panel">
        <div class="header-control-nav-panel">
            <button class="header-panel-el" routerLink="/home" mat-raised-button>Главная</button>
            <button class="header-panel-el" routerLink="/music" mat-raised-button>Музыка</button>
            <button class="header-panel-el" routerLink="/users" mat-raised-button>Люди</button>
            <button class="header-panel-el" routerLink="/upload" mat-raised-button>Загрузка</button>
            <button class="header-panel-el" routerLink="/about" mat-raised-button>О нас</button>
        </div>
        <div class="header-control-auth-panel">
            <div class="header-panel-el">Вы вошли как: {{showUserInfo()}}</div>
            <button class="header-panel-el" routerLink="/settings" mat-raised-button color="accent">Настройки</button>
            <button class="header-panel-el" mat-raised-button color="warn" (click)="shared.logout()">Выход</button>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
