<div class="login-container">
    <h3>Пожалуйста, введите свой данные для логина</h3>
    <mat-form-field class="login-text-input" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Введите свойe mail адресс" [(ngModel)]="model.email">
    </mat-form-field>
    <mat-form-field class="login-text-input" appearance="outline">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" placeholder="Введите свой пароль" [(ngModel)]="model.password">
    </mat-form-field>
    <label *ngIf="isAuthError" class="login-error-label">Ошибка, неверный логин или пароль!</label>
    <div class="login-buttons">
        <button class="login-button" mat-raised-button color="primary" (click)="login()">Вход</button>
        <button class="login-button" mat-raised-button color="accent" routerLink="/registration">Регистрация</button>
    </div>
</div>
