<div class="home">
  <div class="home__card">
    <mat-card class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Профиль</mat-card-title>
        <mat-card-subtitle>{{printUserName()}}</mat-card-subtitle>
      </mat-card-header>
      <img *ngIf="isEmptyPhotoLink()" mat-card-image src="./assets/image/empty-profile-black.png" alt="">
      <div *ngIf="!isEmptyPhotoLink()">
        <img *ngFor="let file of photos | async" mat-card-image src="{{file}}" alt="">
      </div>
      <mat-card-content class="user-info">
        <p>Email: {{user.email}}</p>
        <p>Никнейм: {{user.userDetails.nick}}</p>
        <p>День рождения: {{user.userDetails.birthday.printDate()}}</p>
        <p>О пользователе: {{user.userDetails.about}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="home__content">
    <mat-list>
      <mat-tab-group>
        <mat-tab label="Музыка пользователя">
          <mat-list>
            <mat-paginator [length]="tracksLength"
                           [pageIndex]="page"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="pageEvent = loadTracksList($event)"
                           *ngIf="music.length !== 0">
            </mat-paginator>
            <ul *ngFor="let track of music" class="track-list">
              <li class="track-item">
                <h4 mat-line>
                  <audio controls *ngFor="let file of track.files | async" class="audio-player">
                    <source src={{file}} type="audio/mpeg">
                    <p>Ваш браузер не поддерживает HTML5 audio. Воспользуйтесь
                      <a href={{file}}>этой ссыклой</a></p>
                  </audio>
                </h4>
                <div mat-line class="track-title">
                  <div class="track__info">
                    {{track.title + ", " + track.artist + ", " + track.year}}
                  </div>
                  <div class="track__control">
                    <span class="item">Рейтинг: <b>{{track.rating}}</b></span>
                  </div>
                </div>
              </li>
            </ul>
          </mat-list>
          <span *ngIf="music.length === 0">На данный момент у пользователя нет музыки</span>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </div>
</div>


