<mat-sidenav-container class="settings-container">
  <mat-sidenav mode="side" class="left-container" opened>
  </mat-sidenav>
  <mat-sidenav-content class="right-container">
    <mat-list>
      <h3 mat-subheader>Настройки</h3>
      <mat-tab-group>
        <mat-tab label="Настройки аккаунта">
          <span>Контент настроек аккаунта</span>
        </mat-tab>
        <mat-tab label="Настройки профиля">
          <span>Контент настроек профиля</span>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>


