<div class="about">
  <div class="about__card">
    <mat-card class="about-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Music-cloud</mat-card-title>
        <mat-card-subtitle>Дипломная работа Кулыгина Виктора</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/image/about-picture.jpg" alt="I am Groot">
      <mat-card-content>
        <p>
          При реализации приложения music-cloud используется следующий стек технологий:
          Java 8, Spring Boot 2, Liquibase, Lombok, Hibernate 4, система сборки - Maven 3,
          СУБД - Posgresql 9.6(prod) и MySql(dev). Фреймворк для разработки клиентской части веб-приложений Angular 6.
          Взаимодействие между серверной и клиентской частью происходит по протоколу REST.
          В качестве системы контроля версий используется Git. Также приложение имеет встроенную рекомендательную
          систему, построенную на принципе коллаборативной фильтрации
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="about__content">
    <mat-list>
      <mat-tab-group>
        <mat-tab label="Обновления в текущей версии">
          <label>Версия релиза 0.0.38 alpha 3</label><br>
          <label>Обновления</label>
          <mat-list role="list">
            <mat-list-item role="listitem">Теперь вы можете добавлять для треков жанры и настроения</mat-list-item>
            <mat-list-item role="listitem">При изменении информации о треке можно оставлять пустые поля кроме названия и исполнителя</mat-list-item>
          </mat-list>
          <label>Ошибки</label>
          <mat-list role="list">
            <mat-list-item role="listitem">Исправлены поля ввода на некоторых страницах</mat-list-item>
            <mat-list-item role="listitem">Убраны проблемы с отображением данных из-за неправильного кеширования</mat-list-item>
            <mat-list-item role="listitem">Убрано автосоздание жанров для треков</mat-list-item>
            <mat-list-item role="listitem">Исправлены некоторые ошибки в консоли</mat-list-item>
            <mat-list-item role="listitem">Удалены дубликаты при поиске по жанрам и настроениям</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Результаты тестирования рекомендательной системы">
          <label>Результаты вычислительного эксперимента</label><br>
          <label>Все расчеты были произведены на компьютере со следующими характеристиками</label><br>
          <mat-list role="list">
            <mat-list-item role="listitem">ОС: Windows 10 x64</mat-list-item>
            <mat-list-item role="listitem">Процессор: Core i7, 2.8 ГГц</mat-list-item>
            <mat-list-item role="listitem">Оперативная память: 16 ГБ, ddr4</mat-list-item>
            <mat-list-item role="listitem">Накопитель: SSD 250 ГБ</mat-list-item>
            <label>
              Для теста была сгенерирована таблица на 1млн записей, для 1000 пользователей и 1000 продуктов,
              и были выполнены расчеты на основе 500 ближайших пользователей и 100 рекомендуемых продуктов
            </label>
            <mat-list-item role="listitem">Препроцессинг (чтение из файла и создание структуры): 12.686s</mat-list-item>
            <mat-list-item role="listitem">Косинусная мера: 0.791s</mat-list-item>
            <mat-list-item role="listitem">Евклидово расстояние: 0.757s</mat-list-item>
            <mat-list-item role="listitem">Манхэттенское расстояние: 0.758s</mat-list-item>
            <mat-list-item role="listitem">Коэффициент корреляции Пирсона: 0.792s</mat-list-item>
            <mat-list-item role="listitem">Коэффициент Танимото: 0.762s</mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
    </mat-list>
  </div>
</div>
