<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Music-cloud</mat-card-title>
      <mat-card-subtitle>Дипломная работа Кулыгина Виктора</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/image/about-picture.jpg" alt="I am Groot">
    <mat-card-content>
      <p>
        При реализации приложения music-cloud используется следующий стек технологий:
        Java 8, Spring Boot 2, Liquibase, Lombok, Hibernate 4, система сборки - Maven 3,
        СУБД - Posgresql 9.6 и H2. Фреймворк для разработки клиентской части веб-приложений Angular 6.
        Взаимодействие между серверной и клиентской частью происходит по протоколу REST.
        В качестве системы контроля версий используется Git. Также приложение имеет встроенную рекомендательную
        систему, построенную на принципе коллаборативной фильтрации
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
