<div class="home">
    <div class="home__card">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Мой профиль</mat-card-title>
                <mat-card-subtitle>{{printUserName()}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="isEmptyPhotoLink()" mat-card-image src="./assets/image/empty-profile-black.png" alt="">
            <div *ngIf="!isEmptyPhotoLink()">
                <img class="user-photo" *ngFor="let file of photos | async" mat-card-image src="{{file}}" alt="">
            </div>
            <mat-card-content class="user-info">
                <p>Email: {{user.email}}</p>
                <p>Никнейм: {{user.userDetails.nick}}</p>
                <p>День рождения: {{user.userDetails.birthday.printDate()}}</p>
                <p>Обо мне: {{user.userDetails.about}}</p>
            </mat-card-content>
            <mat-card-actions class="user-profile-buttons">
                <button  mat-raised-button color="primary" (click)="openDialogs()">Диалоги</button>
            </mat-card-actions>
        </mat-card>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Мои друзья
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let user of myFriends | sortById">
                        <mat-icon mat-list-icon>account_circle</mat-icon>
                        <h4 mat-line>{{showUserInfo(user)}}
                            <mat-icon class="go-to-profile" (click)="gotoProfile(user.id)" mat-list-icon>arrow_forward_ios</mat-icon>
                        </h4>
                        <p mat-line *ngIf="user.userDetails.firstName !== null || user.userDetails.lastName !== null"> {{user.userDetails.nick}} </p>
                    </mat-list-item>
                </mat-list>
                <span class="text" *ngIf="myFriends.length === 0">Вы еще не добавили никого в друзья</span>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Заявки в друзья
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let user of myRequest | sortById">
                        <mat-icon mat-list-icon>account_circle</mat-icon>
                        <h4 mat-line>{{showUserInfo(user)}}
                            <mat-icon class="go-to-profile" (click)="gotoProfile(user.id)" mat-list-icon>arrow_forward_ios</mat-icon>
                            <mat-icon class="go-to-profile" (click)="addFriend(user)" mat-list-icon>add_box</mat-icon>
                            <mat-icon class="go-to-profile" (click)="cancelFriendRequest(user)" mat-list-icon>remove_circle</mat-icon>
                        </h4>
                        <p mat-line *ngIf="user.userDetails.firstName !== null || user.userDetails.lastName !== null"> {{user.userDetails.nick}} </p><br>
                    </mat-list-item>
                </mat-list>
                <span class="text" *ngIf="myRequest.length === 0">Запросы отсутствуют</span>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="home__content">
        <mat-list>
            <mat-tab-group>
                <mat-tab label="Моя музыка">
                    <mat-list>
                        <mat-paginator [length]="tracksLength"
                                       [pageIndex]="page"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="pageSizeOptions"
                                       (page)="pageEvent = loadTracksList($event)"
                                       *ngIf="myMusic.length !== 0">
                        </mat-paginator>
                        <ul *ngFor="let track of myMusic | sortById" class="track-list">
                            <li class="track-item">
                                <audio-player-proxy [isGlobal]="false" [isHome]="true" [isRecommend]="false" [track]="track" [user]="user" [playlist]="myMusic"></audio-player-proxy>
                            </li>
                        </ul>
                    </mat-list>
                    <span class="text" *ngIf="myMusic.length === 0">На данный момент у вас нет музыки</span>
                </mat-tab>
                <mat-tab label="Мои плейлисты">
                    <button class="playlist-create-button" mat-raised-button color="primary" (click)="createPlaylist()">Создать плейлист</button>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let playlist of myPlaylists | sortById">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{playlist.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="playlist-control">
                                <mat-icon class="playlist-control-item" mat-list-icon (click)="changePlaylist(playlist)">format_align_justify</mat-icon>
                                <mat-icon class="playlist-control-item" mat-list-icon (click)="removePlaylist(playlist)">remove_circle</mat-icon>
                            </div>

                            <ul *ngFor="let track of playlist.tracks | sortById" class="track-list">
                                <li class="track-item">
                                    <audio-player-proxy [isGlobal]="false" [isHome]="false" [isRecommend]="false" [track]="track" [user]="user" [playlist]="playlist.tracks"></audio-player-proxy>
                                </li>
                            </ul>

                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-tab>
                <mat-tab label="Рекомендации">
                    <span class="text" *ngIf="recommendedMusic.length === 0">На данный момент недостаточно данных для формирования рекомендаций</span>
                    <mat-list>
                        <ul *ngFor="let track of recommendedMusic | sortById" class="track-list">
                            <li class="track-item">
                                <audio-player-proxy [isGlobal]="false" [isHome]="false" [isRecommend]="true" [track]="track" [user]="user" [playlist]="recommendedMusic"></audio-player-proxy>
                            </li>
                        </ul>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-list>
    </div>
</div>

