.home {
}

.home__card {
    background-color: #fff;
}

.home__content {
}

@media screen and (min-width: 481px) {
    .home {
        display: flex;
        min-height: calc(100vh - 64px);
    }

    .home__card {
        border-right: solid 1px rgba(0,0,0,.12);
        width: 30%;
    }

    .home__content {
        min-height: 100%;
        width: 70%;
    }
}

.track-item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.track-title {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-left: 10px;
    cursor: pointer;
}

.rate {
    width: 120px;
}

.audio-player {
    width: 100%;
}
