<div class="home">
    <div class="home__card">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Мой профиль</mat-card-title>
                <mat-card-subtitle>{{printUserName()}}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="isEmptyPhotoLink()" mat-card-image src="./assets/image/empty-profile-black.png" alt="">
            <div *ngIf="!isEmptyPhotoLink()">
                <img class="user-photo" *ngFor="let file of photos | async" mat-card-image src="{{file}}" alt="">
            </div>
            <mat-card-content class="user-info">
                <p>Email: {{user.email}}</p>
                <p>Никнейм: {{user.userDetails.nick}}</p>
                <p>День рождения: {{user.userDetails.birthday.printDate()}}</p>
                <p>Обо мне: {{user.userDetails.about}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="home__content">
        <mat-list>
            <mat-tab-group>
                <mat-tab label="Моя музыка">
                    <mat-list>
                        <mat-paginator [length]="tracksLength"
                                       [pageIndex]="page"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="pageSizeOptions"
                                       (page)="pageEvent = loadTracksList($event)"
                                       *ngIf="myMusic.length !== 0">
                        </mat-paginator>
                        <ul *ngFor="let track of myMusic" class="track-list">
                            <li class="track-item">
                                <h4 mat-line>
                                    <audio controls *ngFor="let file of track.files | async" class="audio-player">
                                        <source src={{file}} type="audio/mpeg">
                                        <p>Ваш браузер не поддерживает HTML5 audio. Воспользуйтесь
                                            <a href={{file}}>этой ссыклой</a></p>
                                    </audio>
                                </h4>
                                <div mat-line class="track-title">
                                    <div class="track__info">
                                        {{track.title + ", " + track.artist + ", " + track.year}}
                                    </div>
                                    <div class="track__control">
                                        <mat-icon class="item" mat-list-icon (click)="changeTrack(track)">create</mat-icon>
                                        <mat-icon class="item" mat-list-icon (click)="deleteTrackFromUser(track)">clear</mat-icon>
                                        <mat-form-field class="item rate">
                                            <mat-label>Ваша оценка</mat-label>
                                            <mat-select [(ngModel)]="track.tempRating" (selectionChange)="rateTrack(track)">
                                                <mat-option>None</mat-option>
                                                <mat-option value="1">1</mat-option>
                                                <mat-option value="2">2</mat-option>
                                                <mat-option value="3">3</mat-option>
                                                <mat-option value="4">4</mat-option>
                                                <mat-option value="5">5</mat-option>
                                                <mat-option value="6">6</mat-option>
                                                <mat-option value="7">7</mat-option>
                                                <mat-option value="8">8</mat-option>
                                                <mat-option value="9">9</mat-option>
                                                <mat-option value="10">10</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <span class="item">Рейтинг: <b>{{track.rating}}</b></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </mat-list>
                    <span *ngIf="myMusic.length === 0">На данный момент у вас нет музыки</span>
                </mat-tab>
                <mat-tab label="Мои плейлисты">
                    <span *ngIf="myPlaylists.length === 0">На данный момент у вас нет плейлистов</span>
                </mat-tab>
                <mat-tab label="Мои друзья">
                    <span *ngIf="myFriends.length === 0">Вы еще не добавили никого в друзья</span>
                </mat-tab>
                <mat-tab label="Запросы в друзья">
                    <span *ngIf="myRequest.length === 0">Запросы отсутствуют</span>
                </mat-tab>
                <mat-tab label="Рекомендации">
                    <span *ngIf="recommendedMusic.length === 0">На данный момент недостаточно данных для формирования рекомендаций</span>
                    <mat-list>
                        <ul *ngFor="let track of recommendedMusic" class="track-list">
                            <li class="track-item">
                                <h4 mat-line>
                                    <audio controls *ngFor="let file of track.files | async" class="audio-player">
                                        <source src={{file}} type="audio/mpeg">
                                        <p>Ваш браузер не поддерживает HTML5 audio. Воспользуйтесь
                                            <a href={{file}}>этой ссыклой</a></p>
                                    </audio>
                                </h4>
                                <div mat-line class="track-title">
                                    <div class="track__info">
                                        {{track.title + ", " + track.artist + ", " + track.year}}
                                    </div>
                                    <div class="track__control">
                                        <mat-icon class="item" mat-list-icon (click)="addTrackToUserFromRec(track.id)">add_circle_outline</mat-icon>
                                        <mat-icon class="item" mat-list-icon (click)="changeTrack(track)">create</mat-icon>
                                        <mat-form-field class="item rate">
                                            <mat-label>Ваша оценка</mat-label>
                                            <mat-select [(ngModel)]="track.tempRating" (selectionChange)="rateTrack(track)">
                                                <mat-option>None</mat-option>
                                                <mat-option value="1">1</mat-option>
                                                <mat-option value="2">2</mat-option>
                                                <mat-option value="3">3</mat-option>
                                                <mat-option value="4">4</mat-option>
                                                <mat-option value="5">5</mat-option>
                                                <mat-option value="6">6</mat-option>
                                                <mat-option value="7">7</mat-option>
                                                <mat-option value="8">8</mat-option>
                                                <mat-option value="9">9</mat-option>
                                                <mat-option value="10">10</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <span class="item">Рейтинг: <b>{{track.rating}}</b></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-list>
    </div>
</div>

