.home-container {
    height: calc(100vh - 64px);
}

.home-right-container {
}

.home-left-container {
    width: 30%;
    max-width: 300px;
}

.track-item {
    margin-top: 20px;
    margin-bottom: 30px;
}

.track-title {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-left: 10px;
    cursor: pointer;
}

.rate {
    width: 120px;
}

.audio-player {
    width: 100%;
}
